###Q.1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

####Ans:
The values are: 'hello' , -87.8 , 6

the expressions are: * ,  -  ,  / ,  +

###Q.2. What is the difference between string and variable?
###Ans:

A variable is like a storage rack used to store the values. In future if the user calls that particular variable, the value stored in it will be produced.

A string is like an array of letters or numbers or words. We can consider it as a single chain of pearl beads where the beads are the characters.

Imagine , we are storing this pearl chain in a storage rack. It is same as storing the string in a variable.
Not only string we can store a lot of other things in a variable.

###Q.3. Describe three different data types.
###Ans.
There are many data types, but as we need to discuss about only 3, so let's consider the most commonly used datas.

Integer: This data type takes only the integer values(includes both positive and negative). 
When we do any arithmetic operations like sum , the integers get added as normal mathematical calculation.


Boolean: This data type takes the input like True/False or 1/0.
These are most commonly used in conditional statements.

String: This is an array of characters contained in quotes. 
If we perform any arithmetic operations like sum, the characters concatenate . Inside the quote it can hold, numbers,letters,_, etc.

###Q.4. What is an expression made up of? What do all expressions do?
###Ans: 
An expression is made up of operators and operands. 
The operators like + - / *  operate on the operands to produce some other output.

The expressions are used for the mathematical or logical operations while writing a code.

###Q.5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
###Ans:
In an expression the operator tries to find a value or tries to operate on operand but in a statement, everything is fixed.

Means,statement is just to show/print some data or it might be used to perform some action as per the statement.(more like a command)

###Q.6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
###Ans:

The variable bacon contain 22 only.  Because we have assigned 22 to bacon. Performing an operation won't change the data location unless we assign a new location/new variable name.

###Q.7. What should the values of the following two terms be?
'spam'+'spamspam'          'spam'*3
###Ans:

The value of both of these will be same, which is 'spamspamspam'.
In the first case the concatenation is happening as it is a string and in the second case spam word is getting thrice.

###Q.8. Why is eggs a valid variable name while 100 is invalid?

###Ans:
There are certain rules we need to follow, while assigning a variable name. One of them includes , the variable name can not start with a numerical value.
However, it can start with an alphabet.
Thus, eggs a valid variable name while 100 is invalid.

###Q.9. What three functions can be used to get the integer, floating-point number, or string version of a value?

###Ans:
we can use int() to get integer, float() to get floating-point number and str() to get string version of a value.

###Q.10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 +'burritos'

###Ans: 
Here we trying to add the above three datas. Clearly the first and last one are strings but the middle one is an integer.
We can not perform sum on two diiferent data types. Means, we can't add string to integer.

To solve this, we need to convert the integer 99 into string type by writing it like '99'.